!!! 5
%html
  %head
    %title Nerdfeud
    %link{ rel: 'stylesheet',                                  |
           href: 'css/ext/jquery.mobile-1.2.0-alpha.1.min.css' }
    %link{ rel: 'stylesheet', href: 'css/ext/flurid.min.css'   }
    %link{ rel: 'stylesheet', href: 'css/game-list.css'        }
    %link{ rel: 'stylesheet', href: 'css/game-board.css'       }
    %script{ src: 'js/ext/cordova-2.0.0.js'                    }
    %script{ src: 'js/ext/childbrowser-2.0.0.js'              }
    %script{ src: 'js/ext/jquery-1.7.2.min.js'                }
    %script{ src: 'js/ext/jquery-ui-1.8.21.custom.min.js'     }
    %script{ src: 'js/ext/jquery.ui.touch-punch.min.js'       }
    %script{ src: 'js/ext/jquery.mobile-1.2.0-alpha.1.min.js' }
    %script{ src: 'js/index.js'                               }
    %script{ src: 'js/sign-in.js'                             }
    %script{ src: 'js/game-board.js'                          }
  %body

    #home{ 'data-role' => 'page', 'data-theme' => 'a' }
      %div{ 'data-role' => 'header' }
        %h1 Nerdfeud
      %div{ 'data-role' => 'content' }
        #menu
          %a#sign-in{                            |
              'href'      => '#sign-in-dialog',  |
              'data-role' => 'button',           |
              'data-rel'  => 'dialog'            }
            Sign in
          %a#settings{ 'data-role' => 'button' } Settings
          %a#help{ 'data-role' => 'button' } Help

    #sign-in-dialog{ 'data-role' => 'page', 'data-theme' => 'a' }
      %div{ 'role' => 'dialog' }
        %div{ 'data-role' => 'header', 'role' => 'banner' }
          %h1{ 'role' => 'heading' } Method
        %div{ 'data-role' => 'content', 'role' => 'main' }
          %form#sign-in-form{ 'action' => '#', 'method' => 'post' }

            / Chosing OAuth provider
            %div{ 'data-role' => 'fieldcontain' }
              %fieldset#method-set{              |
                  'data-role' => 'controlgroup', |
                  'data-type' => 'horizontal'    }
                %input#facebook{             |
                    'type'    => 'radio',    |
                    'name'    => 'method',   |
                    'value'   => 'facebook', |
                    'checked' => 'checked'   }
                %label{ 'for' => 'facebook' }
                  %img{                                            |
                      'src' => 'css/ext/images/facebook-icon.png', |
                      'alt' => 'Img error'                         }
                %input#twitter{             |
                    'type'    => 'radio',   |
                    'name'    => 'method',  |
                    'value'   => 'twitter', }
                %label{ 'for' => 'twitter' }
                  %img{                                         |
                    'src' => 'css/ext/images/twitter-icon.png', |
                    'alt' => 'Img error'                        }
                %input#google{             |
                    'type'    => 'radio',  |
                    'name'    => 'method', |
                    'value'   => 'google', }
                %label{ 'for' => 'google' }
                  %img{                                        |
                    'src' => 'css/ext/images/google-icon.png', |
                    'alt' => 'Img error'                       }
            %button{ 'type' => 'submit' } Continue
    #game-list{ 'data-role' => 'page', 'data-theme' => 'a' }
      %div{ 'data-role' => 'header' }
        %h1 Games
      %div{ 'data-role' => 'content' }
        %div
          %a{                                     |
               'href'      => '#new-game-dialog', |
               'data-role' => 'button',           |
               'data-rel'  => 'dialog'            }
            New
        %div
          %ul{ 'data-role' => 'listview', 'data-inset' => 'true' }
            %li
              %a{ 'href' => '#game-board' }
                %div.icon-wrapper
                  %img{ 'src' => 'css/ext/images/default-user.png' }
                %div
                  %h3 Some user
                  %p Your turn
            %li
              %a{ 'href' => '#' }
                %div.icon-wrapper
                  %img{ 'src' => 'css/ext/images/default-user.png' }
                %div
                  %h3 Some user
                  %p Your turn
            %li
              %a{ 'href' => '#' }
                %div.icon-wrapper
                  %img{ 'src' => 'css/ext/images/default-user.png' }
                %div
                  %h3 Some user
                  %p Your turn
            %li
              %a{ 'href' => '#' }
                %div.icon-wrapper
                  %img{ 'src' => 'css/ext/images/default-user.png' }
                %div
                  %h3 Some user
                  %p Your turn
            %li
              %a{ 'href' => '#' }
                %div.icon-wrapper
                  %img{ 'src' => 'css/ext/images/default-user.png' }
                %div
                  %h3 Some user
                  %p Your turn
            %li
              %a{ 'href' => '#' }
                %div.icon-wrapper
                  %img{ 'src' => 'css/ext/images/default-user.png' }
                %div
                  %h3 Some user
                  %p Your turn
            %li
              %a{ 'href' => '#' }
                %div.icon-wrapper
                  %img{ 'src' => 'css/ext/images/default-user.png' }
                %div
                  %h3 Some user
                  %p Your turn

            %li
              %a{ 'href' => '#' }
                %div.icon-wrapper
                  %img{ 'src' => 'css/ext/images/default-user.png' }
                %div
                  %h3 Some user
                  %p Your turn

    #new-game-dialog{ 'data-role' => 'page', 'data-theme' => 'a' }
      %div{ 'role' => 'dialog' }
        %div{ 'data-role' => 'header', 'role' => 'banner' }
          %h1{ 'role' => 'heading' } New game
        %div{ 'data-role' => 'content', 'role' => 'main' }
          %form
            %a#random-opponent{ 'href' => '#', 'data-role' => 'button' }
              Random opponent

    #game-board{ 'data-role' => 'page', 'data-theme' => 'a' }
      %div{ 'data-role' => 'content' }
        .tile-matrix
          .flurid
            .row
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
            .row
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
            .row
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
            .row
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
            .row
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
            .row
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
            .row
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
              .column.width_1-6
        .tile-row
          .flurid
            .row
              .column.width_1-6
                .letter Y
              .column.width_1-6
                .letter Y
              .column.width_1-6
                .letter Y
              .column.width_1-6
                .letter Y
              .column.width_1-6
                .letter Y
              .column.width_1-6
                .letter Y
      
