!!! 5
%html
  %head
    %title Nerdfeud
    %link{ rel: 'stylesheet', href: 'css/ext/jquery.mobile-1.1.0.min.css' }
    %link{ rel: 'stylesheet', href: 'css/game-list.css' }
    %script{ src: 'js/ext/cordova-1.8.1.js' }
    %script{ src: 'js/ext/jquery-1.7.2.min.js' }
    %script{ src: 'js/ext/jquery.mobile-1.1.0.min.js' }
    %script{ src: 'js/index.js' }
    %script{ src: 'js/sign-in.js' }
  %body

    #home{ 'data-role' => 'page', 'data-theme' => 'a' }
      %div{ 'data-role' => 'header' }
        %h1 Nerdfeud
      %div{ 'data-role' => 'content' }
        #menu
          %a#sign-in{                            |
              'href'      => '#sign-in-dialog',  |
              'data-role' => 'button',           |
              'data-rel'  => 'dialog'            }
            Sign in
          %a#settings{ 'data-role' => 'button' } Settings
          %a#help{ 'data-role' => 'button' } Help

    #sign-in-dialog{ 'data-role' => 'page', 'data-theme' => 'a' }
      %div{ 'role' => 'dialog' }
        %div{ 'data-role' => 'header', 'role' => 'banner' }
          %h1{ 'role' => 'heading' } Method
        %div{ 'data-role' => 'content', 'role' => 'main' }
          %form#sign-in-form{ 'action' => '#', 'method' => 'post' }

            / Chosing OAuth provider
            %div{ 'data-role' => 'fieldcontain' }
              %fieldset#method-set{              |
                  'data-role' => 'controlgroup', |
                  'data-type' => 'horizontal'    }
                %input#facebook{             |
                    'type'    => 'radio',    |
                    'name'    => 'method',   |
                    'value'   => 'facebook', |
                    'checked' => 'checked'   }
                %label{ 'for' => 'facebook' }
                  %img{                                            |
                      'src' => 'css/ext/images/facebook-icon.png', |
                      'alt' => 'Img error'                         }
                %input#twitter{             |
                    'type'    => 'radio',   |
                    'name'    => 'method',  |
                    'value'   => 'twitter', }
                %label{ 'for' => 'twitter' }
                  %img{                                         |
                    'src' => 'css/ext/images/twitter-icon.png', |
                    'alt' => 'Img error'                        }
                %input#google{             |
                    'type'    => 'radio',  |
                    'name'    => 'method', |
                    'value'   => 'google', }
                %label{ 'for' => 'google' }
                  %img{                                        |
                    'src' => 'css/ext/images/google-icon.png', |
                    'alt' => 'Img error'                       }

            / Providing username and password
            %div{ 'data-role' => 'fieldcontain' }
              %input#email{                               |
                  'type'        => 'email',               |
                  'name'        => 'email',               |
                  'placeholder' => 'Email address'        }
              %input#password{                |
                  'type' => 'password',       |
                  'name' => 'password',       |
                  'placeholder' => 'Password' }
              %a#submit{ 'href' => '#game-list', 'data-role' => 'button' } Sign in

    #game-list{ 'data-role' => 'page', 'data-theme' => 'a' }
      %div{ 'data-role' => 'header' }
        %h1 Games
      %div{ 'data-role' => 'content' }
        %div
          %a{ 'href' => '#', 'data-role' => 'button', 'data-rel' => 'dialog' } New
        %div
          %ul{ 'data-role' => 'listview', 'data-inset' => 'true' }
            %li
              %a{ 'href' => '#' }
                %div.icon-wrapper
                  %img{ 'src' => 'css/ext/images/default-user.png' }
                %div.text-wrapper
                  %h3 Some user
                  %p Your turn
            %li
              %a{ 'href' => '#' } Game 2
            %li
              %a{ 'href' => '#' } Game 3
            %li
              %a{ 'href' => '#' } Game 4
            %li
              %a{ 'href' => '#' } Game 5
            %li
              %a{ 'href' => '#' } Game 1
            %li
              %a{ 'href' => '#' } Game 2
            %li
              %a{ 'href' => '#' } Game 3
            %li
              %a{ 'href' => '#' } Game 4
            %li
              %a{ 'href' => '#' } Game 5
            %li
              %a{ 'href' => '#' } Game 1
            %li
              %a{ 'href' => '#' } Game 2
            %li
              %a{ 'href' => '#' } Game 3
            %li
              %a{ 'href' => '#' } Game 4
            %li
              %a{ 'href' => '#' } Game 5
