!!! 5
%html
  %head
    %title Nerdfeud
    %link{ rel: 'stylesheet', href: 'css/ext/jquery.mobile-1.1.0.min.css' }
    %script{ src: 'js/ext/cordova-1.8.1.js' }
    %script{ src: 'js/ext/jquery-1.7.2.min.js' }
    %script{ src: 'js/ext/jquery.mobile-1.1.0.min.js' }
    %script{ src: 'js/index.js' }
  %body
    #home{ 'data-role' => 'page' }
      %div{ 'data-role' => 'header' }
        %h1 Nerdfeud
      %div{ 'data-role' => 'content' }
        #menu
          %a#sign-in{                            |
              'href'      => '#sign-in-dialog',  |
              'data-role' => 'button',         |
              'data-rel'  => 'dialog'          }
            Sign in
          %a#settings{ 'data-role' => 'button' } Settings
          %a#help{ 'data-role' => 'button' } Help
    #sign-in-dialog{ 'data-role' => 'dialog' }
      %div{ 'role' => 'dialog' }
        %div{ 'data-role' => 'header', 'role' => 'banner' }
          %h1{ 'role' => 'heading' } Method
        %div{ 'data-role' => 'content', 'role' => 'main' }
          %form
            %div{ 'data-role' => 'fieldcontain' }
              %fieldset{                         |
                  'data-role' => 'controlgroup', |
                  'data-type' => 'horizontal'    }
                %input#facebook{             |
                    'type'    => 'radio',    |
                    'name'    => 'method',   |
                    'value'   => 'facebook', |
                    'checked' => 'checked'   }
                %label{ 'for' => 'facebook' }
                  %img{ 'src' => 'css/ext/images/facebook-icon.png', 'alt' => 'Img error' }
            %div{ 'data-role' => 'fieldcontain' }
              %input#email{                               |
                  'type'        => 'email',               |
                  'name'        => 'email',               |
                  'placeholder' => 'Email address' }
              %input#password{                |
                  'type' => 'password',       |
                  'name' => 'password',       |
                  'placeholder' => 'Password' }
