!!! 5
%html
  %head
    %title Nerdfeud
    %link{ rel: 'stylesheet', href: 'css/ext/jquery.mobile-1.1.0.min.css' }
    %script{ src: 'js/ext/cordova-1.8.1.js' }
    %script{ src: 'js/ext/jquery-1.7.2.min.js' }
    %script{ src: 'js/ext/jquery.mobile-1.1.0.min.js' }
    %script{ src: 'js/index.js' }
  %body
    #home{ 'data-role' => 'page' }
      %div{ 'data-role' => 'header' }
        %h1 Nerdfeud
      %div{ 'data-role' => 'content' }
        #menu
          %a#login{                            |
              'href'      => '#login-dialog',  |
              'data-role' => 'button',         |
              'data-rel'  => 'dialog' }        |
            Login
          %a#settings{ 'data-role' => 'button' } Settings
          %a#help{ 'data-role' => 'button' } Help
    #login-dialog
      %p foobar
      %a{ 'data-rel' => 'back', 'data-role' => 'button' } Cancel
